{% extends 'base.html.twig' %}
{% block body %}
{% for user in users %}
   <h1>{{ user.firstname }}</h1>
   {% for article in user.articles %}
       <p>{{ article.title }}</p>
       <a href="{{ path( 'article_remove', {'id': article.id}) }} ">
   {% endfor %}
{% endfor %}
{% endblock %}
