<div class="container-fluid">
    <div class="navbar-header">
      	 <div class="color">
      <img src="{{ asset('images/youflix.jpg') }}" alt="New york" style="width:25%;">
    	</div>
    </div>
    <br>
</div>
<style>
.container-fluid {
    background-color:  #c81717
;
   
}
</style>